.productview-container {

  position:relative;
  width:100px;
  height:100px;

  .productView-image {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0;
    transition-property:opacity;
    transition-duration:0.5s;
    &.active {
      opacity:1;
    }
  }

}

.productview-zoom {
  opacity:0;
  position:absolute;
  top:-9999px;
  left:-9999px;
  transition-property:opacity;
  transition-duration:0.5s;
  z-index:999;
  overflow:hidden;
  border:1px solid #f0f0f0;
  &.active {
    opacity:1;
  }
  img {
    position:absolute;
    top:0;
    left:0;
  }
 }